@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	background: #f5f4e9;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: "Courier Prime", monospace;
}

a {
	color: #00ff00;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #009900;
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #333;
	border-radius: 2px;
	background-color: #f5f4e9;
	color: #333;
}

input:disabled {
	color: #999;
}

button {
	color: #00ccff;
	background-color: rgba(227, 192, 34, 0.8);
	border: 1px solid #000000;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: rgba(227, 192, 34, 0.8);
}

button:focus {
	border-color: #00ff00;
}